@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

body{
    font-family: 'Bruno Ace SC', cursive;
    display: flex;
    flex-direction: column;
}

main{
    min-height: 100vh;
}
footer {
    justify-content: space-around;
}

#modal::backdrop {
    background: rgba(0, 0, 0, .55);
}